body{
    background-color: #222;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input{
    padding: 10px;
    width: 200px;
}

button{
    padding: 10px;
    cursor: pointer;
}
