body{
    font-family: Arial;
    background-color:grey;
    color:black;
    text-align: center;
}
.container{
    margin-top: 100px;;
}
input{
    padding: 8px;
    margin: 5px;
}
button{
    
    margin-bottom: 10px;
    padding: 10px;
    cursor:pointer;
    border-radius: 10px;
}
#weight-guide{
    margin-top: 10px;
    
    color:rgb(4, 56, 57);
}
#result{

    
    
    color: brown;
    height: 50px;
    font-size: 25px;
    
}
